# SQL Generation 

#### Generates SQL for table creation, sample queries and ETL Processing 

The quote from Good Will Hunting (1997) is:

***"My boy's wicked smart."*** â€“ Morgan O'Mally (played by Casey Affleck)

In [1]:
first_intallation = False 
if first_intallation: 
    !pip install --upgrade bottleneck
    !pip install pipreqs
# pipreqs /path/to/your/project --force    
# !pip install numpy==1.24.3
# !pip install --upgrade numpy

In [2]:
import os
import schedule
from datetime import datetime
import pandas as pd
import numpy as np
import khutilities.file_manager as fm 
import khutilities.quick_logger as ql 
import khutilities.talking_code as tc 
from docx import Document
from docx.shared import Inches
from IPython.display import Video
import time
import story_board as sb 
from IPython.display import Markdown, display, Image
print(f"Libraries Imported successfully on {datetime.now().date()} at {datetime.now().time()}")

ModuleNotFoundError: No module named 'khutilities'

#### Required Setup Step 0 - Intitiate Configuration Settings and name the overall solution

In [ ]:
import configparser 
config = configparser.ConfigParser()
cfg = config.read('config.ini')  
solution_name = 'sql_generation'

#### Required Setup Step 0 - Intitiate Logging and debugging

In [ ]:
import logging # built in python library that does not need to be installed 
import khutilities.file_manager as fm 
import khutilities.quick_logger as ql 

global start_stime 
start_time = ql.set_start_time()
logging = ql.create_logger_start(solution_name) 
ql.pvlog('info',f"Process started {solution_name} on Date:{datetime.now().strftime('%m-%d-%Y')} at Time:{datetime.now().strftime('%I:%M:%S %p')} ")

In [ ]:
# Create a new Document
report_date_stamp = datetime.now().date()
report_time_stamp = datetime.now().time()
data_story_doc = Document()
data_story_doc.add_heading(f"Data Science Story Board - {solution_name}", level=1)
data_story_doc.add_heading(f"Processed on : {report_date_stamp} at {report_time_stamp}", level=3)

In [ ]:
definition = '''

## SQL Generation 

1. **Create Table**  
2. **SQL Select**  
3. **ETL Process**  

''' 
# Write the solution definitions out to the solution_description.md file
file_name = "generate_sql.md"
with open(file_name, 'w', encoding='utf-8') as f:
    f.write(definition)  # Write the template to the readme.md file

# Display the definition as formatted Markdown in the notebook
display(Markdown(definition))

In [ ]:
definition = '''



''' 
sb.outmd(definition)

In [ ]:
definition = '''
## SQL Generation 

ðŸ”¹ SQL Generation will generate various forms of SQL based upon the datas descriptive statistics:

1. âœ… **Create Table** â†’ Adds a **table_name** for the table or dataset.
2. âœ… **SQL Select** â†’ Adds a **column_name** for current column, how pandas named the raw data.
3. âœ… **ETL Process** â†’ Adds a column for the **pandas.dtype**, how pandas inferred the raw data.


''' 
sb.outmd(definition)

In [ ]:
getting_schema_data = True
if getting_schema_data: 
    
    df = pd.read_excel("schema_statistics.xlsx")    # Read the CSV file into a pandas DataFrame
    print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns of schema data' )
    print(f"The schema contains {df['Table_Name'].nunique()} tables")
    print(f"The schema contains {df['Column_Name'].count()} column names")    
    df_schema_data = df

In [ ]:
df_schema_data.columns

In [ ]:
def generate_sql_select_all(df_schema, table_name):
    """ SQL select all detail from table
    """

    table_columns = df_schema[df_schema["Table_Name"] == table_name]["Column_Name"] # Filter schema metadata for the specified table
    if table_columns.empty:    # Check if the table exists in the schema
        return f"-- No columns found for table: {table_name}"

    column_list = ",  ".join([f"{col}" for col in table_columns])  # Format column names safely
    sql_query = f"SELECT  {column_list}\nFROM {table_name};"   # Generate the SELECT statement  

    return sql_query

In [ ]:
def generate_sql_count_all(df_schema, table_name):
    """ generate_sql_count_all """ 
    return f"SELECT count(*) FROM {table_name};"

In [ ]:
df_schema_data[['Table_Name', 'Column_Name', 'Column_Number', 'Pandas_Data_Type','S_Most_Frequent']].head()

In [ ]:
df_schema_data.columns

In [ ]:
def generate_sql_select_all_filter(df_schema, table_name, column_name):
    """ generate_sql_select_all_filter
    """
    # Filter schema metadata for the specified table
    table_columns = df_schema[df_schema["Table_Name"] == table_name]["Column_Name"]

    # Check if the table exists in the schema
    if table_columns.empty:
        return f"-- No columns found for table: {table_name}"

    # Generate the SELECT statement
    column_list = ",  ".join([f"{col}" for col in table_columns])  # Format column names safely
    sql_query = f"SELECT  {column_list}\nFROM {table_name} " 
    sql_query += f"WHERE {column_name} = \n"    

    return sql_query

In [ ]:
def generate_sql_select_count_all_filter(df_schema, table_name, column_name, column_value):
    """
    """
    sql_query = f"SELECT Count(*) \nFROM {table_name} " 
    sql_query += f"WHERE {column_name} = '{column_value}'\n"    

    return sql_query

In [ ]:
import random
def generate_nlp_select_all(df_schema, table_name):
    """
    Generates a SQL Server SELECT statement for a given table based on df_schema.

    Parameters:
    df_schema (pd.DataFrame): The schema metadata DataFrame.
    table_name (str): The name of the table for which to generate the SELECT statement.

    Returns:
    str: The generated natural language question assoicated with the SQL SELECT statement.
    """
    # Generate the NLP question
    question_random = random.randint(1, 9)
    
    if question_random == 1:
        nlp_question = f"Can you show me all the details from the {table_name} table?"
    elif question_random == 2:
        nlp_question = f"What information is stored in the {table_name} table?"
    elif question_random == 3:
        nlp_question = f"Please provide every detail from the {table_name} table."
    elif question_random == 4:
        nlp_question = f"What do you know about {table_name}?"   
    elif question_random == 5:
        nlp_question = f"Can you list everything in the {table_name} table for me?"     
    elif question_random == 6:
        nlp_question = f"What are all the entries stored in the {table_name} table?"    
    elif question_random == 7:
        nlp_question = f"provide examples of {table_name} ?"           
    elif question_random == 8:
        nlp_question = f"show me examples of {table_name} ?"  
    elif question_random == 9:
        nlp_question = f"I need to see all the content of the {table_name}. Could you show that?"          

    return nlp_question

In [ ]:
# Example Usage
table_name = "Diabetes"  # Replace with your desired table name
sql_statement = generate_sql_select_all(df_schema_data, table_name)

print(sql_statement)   # Print SQL statement

In [ ]:
df_schema_data.columns

In [ ]:
def generate_sql_select_all(df_schema, table_name):
    return f"SELECT * FROM {table_name};"

def generate_nlp_select_all(df_schema, table_name):
    return f"Show all records from {table_name}."

def generate_sql_select_all_explicit(df_schema, table_name):
    table_columns = df_schema[df_schema["Table_Name"] == table_name]["Column_Name"]
    column_list = ",  ".join([f"{col}" for col in table_columns])  # Format column names safely    
    return f"SELECT {column_list} FROM {table_name};"

def generate_nlp_select_all_explicit(schema, table_name):
    return f"Show detail for all records from {table_name}."

In [ ]:
# Initialize the DataFrame for storing training questions
df_training_questions = pd.DataFrame(columns=['Table_Name', 'SQL_Type', 'SQL_Query', 'NLP_Query'])

# Get unique list of tables from schema data
list_of_tables = df_schema_data.Table_Name.unique()

# Generate SQL and NLP queries for each table
for table_number, table_name in enumerate(list_of_tables):
    print(f"Table#{table_number} - Name:{table_name}")
    
    select_all_sql = generate_sql_select_all(df_schema_data, table_name)
    print(f"Select All SQL: {select_all_sql}")
    
    select_all_nlp = generate_nlp_select_all(df_schema_data, table_name)
    print(f"Select All NLP: {select_all_nlp}")
 
    new_row = pd.DataFrame({
        'Table_Name': [table_name], 
        'SQL_Type': ['select all'], 
        'SQL_Query': [select_all_sql], 
        'NLP_Query': [select_all_nlp]
    })
    df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

In [ ]:
df_training_questions.shape

In [ ]:
df_titanic_columns = df_schema_data[df_schema_data["Table_Name"] == 'Titanic']
df_titanic_columns.head(100)

In [ ]:
df_schema_data.columns

In [ ]:
df_schema_data.head(100)

In [ ]:
# Generate SQL query for each column in each table based on the most frequent value
for index, row in df_schema_data.iterrows():
    table_name = row['Table_Name']
    column_name = row['Column_Name']
    most_frequent_value = row['S_Most_Frequent']
    
    # Check if the most frequent value is a string and needs to be quoted
    if isinstance(most_frequent_value, str):
        most_frequent_value = f"'{most_frequent_value}'"
    
    # Generate SQL query
    sql_query = f"SELECT COUNT(*) FROM {table_name} WHERE {column_name} = {most_frequent_value};"
    nlp_query = f"HOW MANY RECORDS FROM {table_name} with a {column_name} is {most_frequent_value};"
    
    new_row = pd.DataFrame({
        'Table_Name': [table_name], 
        'SQL_Type': ['select count of filter'], 
        'SQL_Query': [sql_query], 
        'NLP_Query': [nlp_query]
    })
    df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

In [ ]:
df_training_questions.shape

In [ ]:
def get_select_from_identifiers(table_name):
    if table_name == 'Titanic' : 
        nlp_column = 'passengers'
        sql_select_ID = 'PassengerId' 
    if table_name == 'penguins' : 
        nlp_column = 'penguins'
        sql_select_ID = 'ResearchId' 
    if table_name == 'healthcare' : 
        nlp_column = 'people'
        sql_select_ID = 'PatientId' 
    return nlp_column, sql_select_ID

In [ ]:
# Generate SQL query for each column in each table based on the most frequent value
for index, row in df_schema_data.iterrows():
    table_name = row['Table_Name']
    column_name = row['Column_Name']
    likely_categorical = row['Likely_Categorical']
    
    if table_name == 'Titanic' : 
        nlp_column = 'passengers'
        nlp_from_column = 'PassengerId' 
    
    
    if likely_categorical and table_name == 'Titanic' : 
        categories = df_titanic[column_name].unique()
        
        if len(categories) < 10: 
            for category_value in categories:  
    
                if isinstance(category_value, str):
                    category_value = f"'{category_value}'"
                

                # Generate SQL query
                sql_query = f"SELECT COUNT(distinct {nlp_from_column}) FROM {table_name} WHERE {column_name} = {category_value};"
                nlp_query = f"How many {nlp_column} where {column_name} is {category_value};"
    
    new_row = pd.DataFrame({
        'Table_Name': [table_name], 
        'SQL_Type': ['select count of category'], 
        'SQL_Query': [sql_query], 
        'NLP_Query': [nlp_query]
    })
    df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

In [ ]:
df_training_questions.shape

In [ ]:
df_training_questions.tail(50)

In [ ]:
df_schema_data.head(10)

In [ ]:
df_training_questions.head(100)

In [ ]:
df_titanic = pd.read_csv('titanic.csv')

In [ ]:
df_titanic.head()

In [ ]:
def add_category_filters(table_name)

# Initialize an empty DataFrame to store SQL and NLP queries
df_training_questions = pd.DataFrame(columns=['Table_Name', 'SQL_Type', 'SQL_Query', 'NLP_Query'])

# Process each row in schema data to generate queries
for index, row in df_schema_data.iterrows():
    if row['Likely_Categorical'] == True:  # Adjusted for Boolean True
        table_name = row['Table_Name']
        column_name = row['Column_Name']
        num_unique = unique_counts[table_name].get(column_name, 0)

        if num_unique <= 10:
            # Construct the SQL query
            sql_query = f"SELECT COUNT(*) FROM {table_name} WHERE {column_name} = '{row['S_Most_Frequent']}'"
            nlp_query = f"How many records from {table_name} where {column_name} = '{row['S_Most_Frequent']}'?"

            # Append to the DataFrame
            new_row = pd.DataFrame({
                'Table_Name': [table_name], 
                'SQL_Type': ['select count of filter'], 
                'SQL_Query': [sql_query], 
                'NLP_Query': [nlp_query]
            })
            df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

# Display the resulting DataFrame
print(df_training_questions)

In [ ]:
import pandas as pd

# Sample schema data
df_schema_data = pd.DataFrame({
    'Table_Name': ['table1', 'table1', 'table2', 'table2'],
    'Column_Name': ['category1', 'category2', 'category1', 'category2'],
    'Likely_Categorical': [True, False, True, True],  # Now using Boolean True/False
    'S_Most_Frequent': [10, 'A', 20, 'B']  # Assuming these are the most frequent values for demonstration
})

# Sample actual data unique counts (simulated here, replace with actual data fetching logic)
unique_counts = {
    'table1': {'category1': 8, 'category2': 15},
    'table2': {'category1': 10, 'category2': 9}
}

# Initialize an empty DataFrame to store SQL and NLP queries
df_training_questions = pd.DataFrame(columns=['Table_Name', 'SQL_Type', 'SQL_Query', 'NLP_Query'])

# Process each row in schema data to generate queries
for index, row in df_schema_data.iterrows():
    if row['Likely_Categorical'] == True:  # Adjusted for Boolean True
        table_name = row['Table_Name']
        column_name = row['Column_Name']
        num_unique = unique_counts[table_name].get(column_name, 0)

        if num_unique <= 10:
            # Construct the SQL query
            sql_query = f"SELECT COUNT(*) FROM {table_name} WHERE {column_name} = '{row['S_Most_Frequent']}'"
            nlp_query = f"How many records from {table_name} where {column_name} = '{row['S_Most_Frequent']}'?"

            # Append to the DataFrame
            new_row = pd.DataFrame({
                'Table_Name': [table_name], 
                'SQL_Type': ['select count of filter'], 
                'SQL_Query': [sql_query], 
                'NLP_Query': [nlp_query]
            })
            df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

# Display the resulting DataFrame
print(df_training_questions)

In [ ]:
df_training_questions = pd.dataframe([['Table_Name','SQL_Type','SQL_Query','NLP_Query']])
list_of_tables = df_schema_data.Table_Name.unique()
for table_number, table_name in enumerate(list_of_tables):
    print(f"Table#{table_number} - Name:{table_name}  ")
    select_all = generate_sql_select_all(df_schema_data, table_name)
    print(f"Select All SQL : {select_all} \n")
    select_all_nlp = generate_nlp_select_all(df_schema_data, table_name)
    df_training_questions.loc = table_name, "select all", select_all, select_all_nlp
    print(f"Select All NLP : {select_all_nlp} \n ")  
    
    
    select_count_all = generate_sql_count_all(df_schema_data, table_name)  
    print(f"Select Count All : {select_count_all} \n ")
    select_all = generate_sql_count_all(df_schema_data, table_name)

In [ ]:
df_schema_data = pd.read_excel("schema_statistics.xlsx")
print(f"read schema data and found statistics on {df_schema_data.Table_Name.nunique()} tables")

In [ ]:
table = df_schema_data.Table_Name.unique()
df_schema_data.head(2)

In [ ]:
import os
report_date_stamp = datetime.now().date()
word_file_path = os.path.join(f"{solution_name}_{report_date_stamp}_storyboard.docx")
data_story_doc.save(word_file_path)    
ql.pvlog('info',f"Storyboard Created : {solution_name} ")

## Step 0 - Process End - display log

In [ ]:
# Calculate and classify the process performance 
status = ql.calculate_process_performance(solution_name, start_time) 
print(ql.append_log_file(solution_name))

#### https://github.com/JoeEberle/ -- josepheberle@outlook.com