# Generate SQL

#### Generates SQL for table creation, sample queries and ETL Processing 

The quote from Good Will Hunting (1997) is:

***"My boy's wicked smart."*** â€“ Morgan O'Mally (played by Casey Affleck)

In [1]:
first_intallation = False 
if first_intallation: 
    !pip install --upgrade bottleneck
    !pip install pipreqs
# pipreqs /path/to/your/project --force

In [28]:
import os
import schedule
from datetime import datetime
import pandas as pd
import numpy as np
import numbers
import file_manager as fm 
import quick_logger as ql 
import talking_code as tc 
from docx import Document
from docx.shared import Inches
from IPython.display import Video
import time
import story_board as sb 
import postgres_utils as pg
from IPython.display import Markdown, display, Image
print(f"Libraries Imported succesfully on {datetime.now().date()} at {datetime.now().time()}")

Libraries Imported succesfully on 2025-04-08 at 19:05:26.037357

#### Required Setup Step 0 - Intitiate Configuration Settings and name the overall solution

In [3]:
import configparser 
config = configparser.ConfigParser()
cfg = config.read('config.ini')  
solution_name = 'sql_generation'

#### Required Setup Step 0 - Intitiate Logging and debugging

In [4]:
import logging # built in python library that does not need to be installed 
import file_manager as fm 
import quick_logger as ql 

global start_stime 
start_time = ql.set_start_time()
logging = ql.create_logger_start(solution_name, start_time) 
ql.pvlog('info',f"Process started {solution_name} on Date:{datetime.now().strftime('%m-%d-%Y')} at Time:{datetime.now().strftime('%I:%M:%S %p')} ")

Process started sql_generation on Date:04-08-2025 at Time:06:59:55 PM

In [5]:
# Create a new Document
report_date_stamp = datetime.now().date()
report_time_stamp = datetime.now().time()
data_story_doc = Document()
data_story_doc.add_heading(f"Data Science Story Board - {solution_name}", level=1)
data_story_doc.add_heading(f"Processed on : {report_date_stamp} at {report_time_stamp}", level=3)

In [6]:
definition = '''

## Generate SQL

1. **Create Table**  
2. **SQL Select**  
3. **ETL Process**  

''' 
# Write the solution definitions out to the solution_description.md file
file_name = "generate_sql.md"
with open(file_name, 'w', encoding='utf-8') as f:
    f.write(definition)  # Write the template to the readme.md file

# Display the definition as formatted Markdown in the notebook
display(Markdown(definition))

## Generate SQL

1. **Create Table**
2. **SQL Select**
3. **ETL Process**

In [7]:
definition = '''
## Generate SQL

ðŸ”¹ Generate SQL will generate various forms of SQL based upon the datas descriptive statistics:

1. âœ… **Create Table** â†’ Adds a **table_name** for the table or dataset.
2. âœ… **SQL Select** â†’ Adds a **column_name** for current column, how pandas named the raw data.
3. âœ… **ETL Process** â†’ Adds a column for the **pandas.dtype**, how pandas inferred the raw data.


''' 
sb.outmd(definition)

## Generate SQL

ðŸ”¹ Generate SQL will generate various forms of SQL based upon the datas descriptive statistics

1. âœ… **Create Table** â†’ Adds a **table_name** for the table or dataset.
2. âœ… **SQL Select** â†’ Adds a **column_name** for current column, how pandas named the raw data.
3. âœ… **ETL Process** â†’ Adds a column for the **pandas.dtype**, how pandas inferred the raw data.

In [8]:
getting_titanic_data = True
if getting_titanic_data: 
    df = pd.read_csv("C:\\Users\\josep\\ideal_ai_data_exploration\\titanic.csv")    # Read the CSV file into a pandas DataFrame
    # df = pd.read_csv("https://raw.githubusercontent.com/JoeEberle/reference_datasets/main/titanic.csv")
    df.columns = df.columns.str.replace(' ', '_').str.lower()
    print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns of titanic data' )
    df_titanic = df  
    df_titanic["pclass"] = df_titanic["pclass"].fillna("Unknown pclass")
    df_titanic["cabin"] = df_titanic["cabin"].fillna("Unknown cabin")
    df_titanic["sex"] = df_titanic["sex"].fillna("Unknown sex") 
 
getting_penguins_data = True
if getting_penguins_data: 
    df = pd.read_csv("C:\\Users\\josep\\DB_Discovery\\penguins.csv")    # Read the CSV file into a pandas DataFrame
    print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns of penguins data')
    df_penguins = df       
    
getting_heart_data = True
if getting_heart_data: 
    df = pd.read_csv("C:\\Users\\josep\\DB_Discovery\\heart.csv")    # Read the CSV file into a pandas DataFrame
    df.columns = df.columns.str.replace(' ', '_').str.lower()
    print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns of heart data')
    df_heart = df    
    df_heart["patient_id"] = df_heart.index

getting_diabetes_data = True
if getting_diabetes_data: 
    df = pd.read_csv("C:\\Users\\josep\\ideal_ai_data_exploration\\diabetes.csv")    # Read the CSV file into a pandas DataFrame
    df.columns = df.columns.str.replace(' ', '_').str.lower()
    print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns of diabetes data')
    df_diabetes = df 
    df_diabetes["patient_id"] = df_diabetes.index
    
    
getting_healthcare_data = True
if getting_healthcare_data: 
    df = pd.read_csv("C:\\Users\\josep\\DB_Discovery\\healthcare_dataset.csv")    # Read the CSV file into a pandas DataFrame
    df.columns = df.columns.str.replace(' ', '_')
    print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns of health care data')
    df_healthcare = df       

getting_chronic_disease_data = True
if getting_chronic_disease_data: 
    df = pd.read_csv("C:\\Users\\josep\\DB_Discovery\\chronic_disease_indicators.csv")    # Read the CSV file into a pandas DataFrame
    df.columns = df.columns.str.replace(' ', '_')
    print(f'The data contains {df.shape[0]} rows and {df.shape[1]} columns of chronic disease data')
    df_chronic_disease = df        


getting_hel_data = True
if getting_hel_data: 
    df_hel = pd.read_excel("C:\\Users\\josep\\DB_Discovery\\HeWNY Sample File.xlsx")    # Read the CSV file into a pandas DataFrame
    df.columns = df.columns.str.replace(' ', '_')  
    print(f'The data contains {df_hel.shape[0]} rows and {df_hel.shape[1]} columns of HealtheLink data')
    df   = df_hel
    df_hel = df_hel.rename(columns={'BCS': 'Breast_Cancer_Screening'})
    df_hel = df_hel.rename(columns={'CCS': 'Cervical_Cancer_Screening'})
    df_hel = df_hel.rename(columns={'COL': 'Colorectal_Cancer_Screening'})

The data contains 1309 rows and 21 columns of titanic data
The data contains 344 rows and 18 columns of penguins data
The data contains 918 rows and 12 columns of heart data
The data contains 768 rows and 9 columns of diabetes data
The data contains 55500 rows and 15 columns of health care data
The data contains 311745 rows and 34 columns of chronic disease data
The data contains 1000 rows and 26 columns of HealtheLink data

In [32]:
import postgres_utils as pg
pg_credentials = pg.get_connection_credentials()
DB_NAME = pg_credentials[0]
USER = pg_credentials[1]
PASSWORD = pg_credentials[2]
HOST = pg_credentials[3]
PORT = pg_credentials[4]

connection = pg.connect_to_postgresql(DB_NAME, USER, PASSWORD, HOST, PORT)

âœ… Connection to PostgreSQL successful!

In [33]:
loading_wny_health = True
if connection and loading_wny_health:
    pg_credentials = pg.get_connection_credentials()
    pg.create_table_from_dataframe(df_hel, "WNY_health", DB_NAME, USER, PASSWORD, HOST, PORT)

âœ… Table 'WNY_health' created or already exists.
âœ… Data inserted into 'WNY_health' successfully.

In [ ]:
loading_chronic_disease = True
if connection and loading_chronic_disease:
    pg_credentials = pg.get_connection_credentials()
    pg.create_table_from_dataframe(df_chronic_disease, "chronic_disease", DB_NAME, USER, PASSWORD, HOST, PORT)

âœ… Table 'chronic_disease' created or already exists.

In [ ]:
loading_chronic_disease = True
if connection and loading_chronic_disease:
    pg_credentials = pg.get_connection_credentials()
    pg.create_table_from_dataframe(df_chronic_disease, "chronic_disease", DB_NAME, USER, PASSWORD, HOST, PORT)

In [9]:
schema_file = r"C:\Users\josep\IDEAL_AI_Data_Exploration\schema_statistics.xlsx"
df_schema_data = pd.read_excel(schema_file)
print(f"read schema data and found statistics on {df_schema_data.Table_Name.nunique()} tables")
print(f'The data contains {df_schema_data.shape[0]} rows and {df_schema_data.shape[1]} columns of schema data' )
print(f"The schema contains {df_schema_data['Table_Name'].nunique()} tables")
print(f"The schema contains {df_schema_data['Column_Name'].count()} column names")    
df_schema_data.head(2)

read schema data and found statistics on 6 tables
The data contains 101 rows and 37 columns of schema data
The schema contains 6 tables
The schema contains 101 column names

,Table_Name,Column_Name,Column_Number,SQL_Data_Type,Likely_Primary_Key,Likely_Foreign_Key,Likely_Categorical,count,mean,std,...,Q_3_Upper_Quartile,Q_4_Top_Quartile_Spread,P_10_Percentile,P_90_Percentile,S_Interquartile_Range,S_Range,S_Minimum_Value,S_Maximum_Value,Inferred_Column_Description,Pandas_Data_Type
0,Diabetes,Age,1,BIGINT,0,0,0,768,33.240885,11.760232,...,41.0,40.0,22.0,51.0,17.0,60.0,21,81.0,Table Diabetes Column Age of type BIGINT and m...,int64
1,Diabetes,BMI,2,BIGINT,0,0,0,768,31.992578,7.884160,...,36.6,30.5,23.6,41.5,9.3,67.1,0,67.1,Table Diabetes Column BMI of type BIGINT and m...,int64

In [10]:
df_schema_data.columns

Index(['Table_Name', 'Column_Name', 'Column_Number', 'SQL_Data_Type',
       'Likely_Primary_Key', 'Likely_Foreign_Key', 'Likely_Categorical',
       'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'S_Count',
       'S_Missing_Values', 'S_Unique_Values', 'S_Most_Frequent', 'S_Mean',
       'S_Standard_Deviation', 'S_Variance', 'S_Coefficient_of_Variation',
       'S_Skewness', 'S_Kurtosis', 'Q_1_Lower_Quartile', 'Q_2_Median',
       'Q_3_Upper_Quartile', 'Q_4_Top_Quartile_Spread', 'P_10_Percentile',
       'P_90_Percentile', 'S_Interquartile_Range', 'S_Range',
       'S_Minimum_Value', 'S_Maximum_Value', 'Inferred_Column_Description',
       'Pandas_Data_Type'],
      dtype='object')

In [11]:
def get_select_identifiers(table_name):
    if table_name == 'Titanic' : 
        nlp_column = 'passengers'
        sql_select_ID = 'PassengerId' 
    if table_name == 'Penguin' : 
        nlp_column = 'penguins'
        sql_select_ID = 'sample_number' 
    if table_name == 'Health_Care' : 
        nlp_column = 'people'
        sql_select_ID = 'PatientId' 
    if table_name == 'Diabetes' : 
        nlp_column = 'diabetic patients'
        sql_select_ID = 'patient_id'  
    if table_name == 'Heart' : 
        nlp_column = 'patients'
        sql_select_ID = 'patient_id'    
    if table_name == 'HealtheLink' : 
        nlp_column = 'WNY Patients'
        sql_select_ID = 'Research_ID'   
    if table_name == 'Chronic_Disease' : 
        nlp_column = 'prevelence'
        sql_select_ID = 'LocationDesc'         
    return nlp_column, sql_select_ID

In [12]:
df_chronic_disease.head(2)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2019,2019,GA,Georgia,BRFSS,Disability,Adults with any disability,NaN,%,Crude Prevalence,...,DIS,DIS01,NaN,CRDPREV,AGE,AGE65P,NaN,NaN,NaN,NaN
1,2019,2019,GU,Guam,BRFSS,Arthritis,Arthritis among adults,NaN,%,Crude Prevalence,...,ART,ART01,NaN,CRDPREV,SEX,SEXF,NaN,NaN,NaN,NaN

In [13]:
def generate_sql_select_all(df_schema, table_name):
    return f"SELECT * FROM {table_name};"

def generate_nlp_select_all(df_schema, table_name):
    return f"Show all records from {table_name}."

def generate_sql_select_all_detail(df_schema, table_name):
    table_columns = df_schema[df_schema["Table_Name"] == table_name]["Column_Name"]
    column_list = ",  ".join([f"{col}" for col in table_columns])  # Format column names safely    
    return f"SELECT {column_list} FROM {table_name};"

def generate_nlp_select_all_detail(schema, table_name):
    return f"Show detail for all records from {table_name}."

In [14]:
# Initialize the DataFrame for storing training questions
df_training_questions = pd.DataFrame(columns=['Table_Name', 'SQL_Type', 'SQL_Query', 'NLP_Query'])

# Get unique list of tables from schema data
list_of_tables = df_schema_data.Table_Name.unique()

for table_number, table_name in enumerate(list_of_tables):
    print(f"Table#{table_number} - Name:{table_name}")
    select_all_sql = generate_sql_select_all(df_schema_data, table_name)
    select_all_nlp = generate_nlp_select_all(df_schema_data, table_name)

    new_row = pd.DataFrame({
        'Table_Name': [table_name], 
        'SQL_Type': ['select all'], 
        'SQL_Query': [select_all_sql], 
        'NLP_Query': [select_all_nlp]
    })
    df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

Table#0 - Name:Diabetes
Table#1 - Name:Health_Care
Table#2 - Name:Penguin
Table#3 - Name:Titanic
Table#4 - Name:Heart
Table#5 - Name:HealtheLink

In [15]:
df_training_questions.head(10)

,Table_Name,SQL_Type,SQL_Query,NLP_Query
0,Diabetes,select all,SELECT * FROM Diabetes;,Show all records from Diabetes.
1,Health_Care,select all,SELECT * FROM Health_Care;,Show all records from Health_Care.
2,Penguin,select all,SELECT * FROM Penguin;,Show all records from Penguin.
3,Titanic,select all,SELECT * FROM Titanic;,Show all records from Titanic.
4,Heart,select all,SELECT * FROM Heart;,Show all records from Heart.
5,HealtheLink,select all,SELECT * FROM HealtheLink;,Show all records from HealtheLink.

In [16]:
# Generate SQL query for each column in each table based on the most frequent value
for index, row in df_schema_data.iterrows():
    table_name = row['Table_Name']
    column_name = row['Column_Name']
    most_frequent_value = row['S_Most_Frequent']
    
    nlp_column, sql_from_column = get_select_identifiers(table_name)
    
    if isinstance(most_frequent_value, str):
        most_frequent_value = f"'{most_frequent_value}'"
    
    # Generate SQL query
    sql_query = f"SELECT COUNT(diatinct {sql_from_column}) FROM {table_name} WHERE {column_name} = {most_frequent_value};"
    nlp_query = f"how many {nlp_column} in {table_name} with a {column_name} is {most_frequent_value};"
    
    new_row = pd.DataFrame({
        'Table_Name': [table_name], 
        'SQL_Type': ['select count of filter'], 
        'SQL_Query': [sql_query], 
        'NLP_Query': [nlp_query]
    })
    df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

In [17]:
df_schema_data.Table_Name.unique()

array(['Diabetes', 'Health_Care', 'Penguin', 'Titanic', 'Heart',
       'HealtheLink'], dtype=object)

In [18]:
# Generate SQL query for each column in each table based on the most frequent value
for index, row in df_schema_data.iterrows():
    table_name = row['Table_Name']
    column_name = row['Column_Name']
    likely_categorical = row['Likely_Categorical']
    
    nlp_column, sql_from_column = get_select_identifiers(table_name)
    
    if likely_categorical and table_name != 'Penguin': 
        if table_name == 'titanic':
            categories = df_titanic[column_name].unique()
        if table_name == 'Heart':
            categories = df_heart[column_name].unique()  
        if table_name == 'HealtheLink':
            categories = df_hel[column_name].unique()  
        if table_name == 'Diabetes':
            column_name = column_name.lower()
            categories = df_diabetes[column_name].unique()    
        if table_name == 'Penguin':
            categories = df_penguins[column_name].unique()              
        
        if len(categories) < 50: 
            for category_value in categories:  
    
                if isinstance(category_value, str):
                    category_value = f"'{category_value}'"
                

                # Generate SQL query
                sql_query = f"SELECT COUNT(distinct {sql_from_column}) FROM {table_name} WHERE {column_name} = {category_value};"
                nlp_query = f"How many {nlp_column} where {column_name} is {category_value};"
    
                new_row = pd.DataFrame({
                    'Table_Name': [table_name], 
                    'SQL_Type': ['select count of category'], 
                    'SQL_Query': [sql_query], 
                    'NLP_Query': [nlp_query]   })
                df_training_questions = pd.concat([df_training_questions, new_row], ignore_index=True)

In [19]:
categories = df_hel.ADI_State.unique() 
print(len(categories))
print(categories)

8
['UNKNOWN' 10 7 5 8 9 'P' 6]

In [20]:
categories = df_hel.PreDiabetes.unique() 
print(len(categories))
print(categories)

2
['N' 'Y']

In [21]:
categories = df_hel.PD_Type.unique() 
print(len(categories))
print(categories)

3
[nan 'UnDiagnosed' 'Diagnosed']

In [22]:
df_hel.columns

Index(['Research_ID', 'Age', 'Sex', 'Race_Level_1', 'Race_Level_2',
       'Ethnicity', 'Zip_Code', 'County', 'ADI_State', 'ADI_National', 'Year',
       'Asthma', 'Diabetes', 'Diabetes_Poor_Control', 'Diabetes_Type',
       'HbA1c_Result', 'Hypertension', 'BP_Control', 'BP_Result', 'Obesity',
       'PreDiabetes', 'PD_Type', 'Tobacco', 'Breast_Cancer_Screening',
       'Cervical_Cancer_Screening', 'Colorectal_Cancer_Screening'],
      dtype='object')

In [23]:
df_training_questions.to_parquet("training_questions.parquet") 
df_training_questions.to_csv("training_questions.csv") 
df_training_questions.to_excel("training_questions.xlsx")

In [24]:
df_training_questions.shape

(591, 4)

In [25]:
import os
report_date_stamp = datetime.now().date()
word_file_path = os.path.join(f"{solution_name}_{report_date_stamp}_storyboard.docx")
data_story_doc.save(word_file_path)    
ql.pvlog('info',f"Storyboard Created : {solution_name} ")

Storyboard Created : sql_generation

## Step 0 - Process End - display log

In [26]:
# Calculate and classify the process performance 
status = ql.calculate_process_performance(solution_name, start_time) 
print(ql.append_log_file(solution_name))

2025-04-08 18:59:55,293 - INFO - START sql_generation =============================================
2025-04-08 18:59:55,293 - INFO - START sql_generation Start Time = 2025-04-08 18:59:55
2025-04-08 18:59:55,307 - INFO - sql_generation Step 0 - Initialize the configuration file parser
2025-04-08 18:59:55,307 - INFO - Process started sql_generation on Date:04-08-2025 at Time:06:59:55 PM
2025-04-08 18:59:58,279 - INFO - Storyboard Created : sql_generation
2025-04-08 18:59:58,287 - INFO - PERFORMANCE sql_generation The total process duration was:2.99
2025-04-08 18:59:58,287 - INFO - PERFORMANCE sql_generation Stop Time = 2025-04-08 18:59:58
2025-04-08 18:59:58,287 - INFO - PERFORMANCE sql_generation Short process duration less than 3 Seconds:2.99
2025-04-08 18:59:58,288 - INFO - PERFORMANCE sql_generation Performance optimization is not reccomended
2025-04-08 18:59:58,288 - INFO - END sql_generation =============================================

#### https://github.com/JoeEberle/ -- josepheberle@outlook.com